$cell-size: 30px;
$speed: 1s;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#root, #root-dev {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.row {
  display: flex;
}

.cell {
  height: $cell-size;
  width: $cell-size;
}

.rotator {
  height: 100%;
  width: 100%;
  &.right {
    animation: rotator-right-animation $speed infinite;
    background-color: red;
  }
  &.left {
  animation: rotator-left-animation $speed infinite;
    background-color: blue;
  }
}


@keyframes rotator-left-animation {
  50% { transform: rotateZ(-45deg); }
  100% { transform: rotateZ(-90deg); }
}
@keyframes rotator-right-animation {
  50% { transform: rotateZ(45deg); }
  100% { transform: rotateZ(90deg); }
}
